@model Ukare.Service.UserLoginModel
@{
    ViewBag.Title = "Forgot";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<slider>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6"></div>
            <div class="col-md-5 col-sm-5">
                <div class="log-blog">
                    @using (Html.BeginForm("forgot_password", "Home", FormMethod.Post))
                    {
                        <div class="col-md-12 col-sm-12">
                            <h4 class="form-titl">Forgot Password ?</h4>
                        </div>
                        <div class="col-md-12 col-sm-12" style="text-align:center">
                            <label class="text-danger">@ViewBag.LoginError</label>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="exampleInputEmail1" style="font-size: 17px;">User Name</label>
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Enter email", @style = "font-size: 17px; height: 40px;", @type = "email" })
                            </div>
                            <div class="fogt-btn"><input type="submit" value="Submit" class="form-btn"/></div>
                            <p class="foget"><a href="loginpage"><i class="fa fa-angle-left" aria-hidden="true"></i> Back</a></p>
                        </div>
                    }
                </div>
            </div>
            <div class="col-md-1 col-sm-5"></div>
        </div>
    </div>
</slider>