@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!------slider-start------>

<slider>

    <div class="container">

        <div class="row">

            <div class="col-md-5"></div>

            <div class="col-md-7">

                <div class="slid-blog">

                    <h3 class="lgt">Healthcare</h3>
                    <h3 class="stg">Help For Nurses</h3>
                    <p>UKare is established to assist nurses from around the globe to find the best career opportunities within the United Kingdom</p>
                    <button class="ler-mor">LEARN MORE</button>

                </div>

            </div>

        </div>

    </div>

</slider>

<!------slider-end------>
<!------content-start------>

<content1>

    <div class="container">

        <div class="row">

            <div class="col-md-6 padrgt">

                <div class="ct-blog1">

                    <div class="blg-icon"><img src="../content/images/vison1.png" alt="vission" /></div>

                    <h5 class="title-blg">AGENCY VISION</h5>

                    <p class="tex-blg">

                        We persistently convey better administration than our customers and hopefuls and in the process; we've turned out to be perceived specialists. Our well-disposed and trained staffs are pioneers in the business and have broad involvement in a wide assortment in the healthcare field.

                    </p>

                    <button class="mor-blg">Learn More</button>

                </div>

            </div>
            <div class="col-md-6 padlef">

                <div class="ct-blog2">

                    <div class="blg-icon"><img src="../content/images/mison1.png" alt="mission" /></div>

                    <h5 class="title-blg">AGENCY MISSION</h5>

                    <p class="tex-blg">

                        Our mission is tomeet the highest standards of safety, ethics and governance in meeting the needs of clients, candidates and staff alike. We commit to provide open and responsive communication, within the range of equal opportunity among candidates and outmost honesty.

                    </p>

                    <button class="mor-blg">Learn More</button>

                </div>

            </div>

        </div>

    </div>

</content1>

<content2>

    <div class="container-fluid">

        <div class="row">

            <div class="col-md-7">

                <div class="ct2-blog">

                    <h4>Our <span>Team</span></h4>
                    <p>
                        Our team is composed of professional consultants that are dedicated to help nurses land a worthwhile career path as well as helping medical institutions employ world class and competitive healthcare staff from around the globe.
                    </p>
                    <p>
                        Here at UKare, our aim is to assist you in your career in the United Kingdom. With the increasing demand of healthcare professionals in the UK, We at Ukare are aiming to help you in making your career transition as smoothly as possible. You are assured that we will guide you in every step along your way!
                    </p>

                </div>

            </div>

            <div class="col-md-5 pad0">

                <div class="cn-img"><img src="../content/images/cnt1.jpg" /></div>

            </div>

        </div>

    </div>

</content2>

<content3>

    <div class="container">

        <div class="row">

            <div class="col-md-1"></div>
            <div class="col-md-10">

                <div class="cont3-blog">

                    <h5>The registration of the nurses is divided into four fields: adult (general nursing), mental health <br /> nursing, learning disabilities nursing and children's nursing.</h5>

                </div>

                <ul class="list-cn3">

                    <li><img src="../content/images/gn.png" alt="nursing" /><p>General nursing</p></li>
                    <li><img src="../content/images/men.png" alt="nursing" /><p>Mental health nursing</p></li>
                    <li><img src="../content/images/lern.png" alt="nursing" /><p>Learn disabilities nursing</p></li>
                    <li><img src="../content/images/child.png" alt="nursing" /><p>Children's nursing</p></li>

                </ul>

                <p class="tx"><span><i class="fa fa-caret-right" aria-hidden="true"></i></span>Nursing and other healthcare professionals are in high demand in the UK from Europe, Australia, New Zealand and Canada.</p>
                <p class="tx"><span style="float: left; margin: -4px 0px 0px;"><i class="fa fa-caret-right" aria-hidden="true"></i></span>Nurses who are trained outside of the European Economic Area must have their initial training assessed before they can be admitted to the register. UKareis established to help healthcare professionals land a permanent job within the UK.</p>

            </div>
            <div class="col-md-1"></div>

        </div>

    </div>

</content3>

<!------content-end------>