@{
    ViewBag.Title = "Verification";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<slider>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6"></div>
            <div class="col-md-5 col-sm-5">
                <div class="log-blog">
                    @using (Html.BeginForm())
                    {

                        <div class="col-md-12 col-sm-12">
                            <h4 class="form-titl">
                            @*<span><a href="@Url.Action("Login","Home")"><i class="fa fa-angle-left" aria-hidden="true"></i></a></span>*@
                            Mobile Verification</h4>
                        </div>

                        <div class="col-md-12 col-sm-12">
                            <div class="form-group">
                                <label for="exampleInputEmail1" style="font-size: 17px;">Enter your mobile number</label>
                                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Mobile Number" style="font-size: 17px; height: 40px;">
                            </div>
                            <div class="form-group code">
                                <button>Send Code</button>
                            </div>

                            <div class="very-btn"><button>Verify Me</button></div>
                        </div>
                    }
                </div>
            </div>
            <div class="col-md-1 col-sm-1"></div>
        </div>
    </div>
</slider>
