@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!------slider-start------>



    <div class="container" style="min-height:480px;">

        <div class="row">

            <div class="col-md-12">
                <div class="slid-blog" style="margin-left:282px;">
                    <p>@ViewBag.Message</p>
                </div>

            </div>

        </div>

    </div>



<!------slider-end------>
