@{
    ViewBag.Title = "GroupUsers";
    Layout = "~/Views/Admin/_Layout.cshtml";
}
<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="content-wrapper" style="min-height: 750px;">
            <section class="content-header">
                <h3>Groups Information</h3>
            </section>

            <section class="content">
                <!-- Info boxes -->
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="use-box">
                            <center>
                                <div style="overflow-x:auto;">
                                    <table border="0" width="100%">
                                        <tr style="height: 55px;border-bottom: 1px solid #ff9600;">
                                            <td class="e-list" style="width: 50px;color:#01a1dd">No</td>
                                            <td class="e-list" style="color:#01a1dd">User Name</td>
                                            <td class="e-list" style="text-align: left;color:#01a1dd">User ID</td>
                                            <td class="e-list" style="display:none"><button class="e-btn"><i class="fa fa-pencil" aria-hidden="true"></i> &nbsp;Edit</button><button class="d-btn"><i class="fa fa-times-circle" aria-hidden="true"></i> &nbsp;Delete</button></td>
                                        </tr>

                                        <tr style="height: 55px;border-bottom: 1px solid #d8d8d8;">
                                            <td class="e-list" style="width: 50px;">1</td>
                                            <td class="e-list"><p class="w160">Joseph Sanddy</p></td>
                                            <td class="e-list" style="text-align: left;">joseph@gmail.com</td>
                                            <td class="e-list"><a href="user_form"><button class="e-btn"><i class="fa fa-pencil" aria-hidden="true"></i> &nbsp;Edit</button></a><button class="d-btn"><i class="fa fa-times-circle" aria-hidden="true"></i> &nbsp;Delete</button></td>
                                        </tr>

                                        <tr style="height: 55px;border-bottom: 1px solid #d8d8d8;">
                                            <td class="e-list" style="width: 50px;">2</td>
                                            <td class="e-list"><p class="w160">Rosan Sujan</p></td>
                                            <td class="e-list" style="text-align: left;">rossujan12@gmail.com</td>
                                            <td class="e-list"><a href="user_form"><button class="e-btn"><i class="fa fa-pencil" aria-hidden="true"></i> &nbsp;Edit</button></a><button class="d-btn"><i class="fa fa-times-circle" aria-hidden="true"></i> &nbsp;Delete</button></td>
                                        </tr>

                                        <tr style="height: 55px;border-bottom: 1px solid #d8d8d8;">
                                            <td class="e-list" style="width: 50px;">3</td>
                                            <td class="e-list"><p class="w160">Merry Siddhi</p></td>
                                            <td class="e-list" style="text-align: left;">merrysiddhi0065@gmail.com</td>
                                            <td class="e-list"><div class="ddd"><a href="user_form"><button class="e-btn"><i class="fa fa-pencil" aria-hidden="true"></i> &nbsp;Edit</button></a><button class="d-btn"><i class="fa fa-times-circle" aria-hidden="true"></i> &nbsp;Delete</button></div></td>
                                        </tr>

                                        <tr style="height: 55px;border-bottom: 1px solid #d8d8d8;">
                                            <td class="e-list" style="width: 50px;">4</td>
                                            <td class="e-list"><p class="w160">Mihel Sujan</p></td>
                                            <td class="e-list" style="text-align: left;">mihelsujan56@gmail.com</td>
                                            <td class="e-list"><a href="user_form"><button class="e-btn"><i class="fa fa-pencil" aria-hidden="true"></i> &nbsp;Edit</button></a><button class="d-btn"><i class="fa fa-times-circle" aria-hidden="true"></i> &nbsp;Delete</button></td>
                                        </tr>

                                        <tr style="height: 55px;border-bottom: 1px solid #d8d8d8;">
                                            <td class="e-list" style="width: 50px;">5</td>
                                            <td class="e-list"><p class="w160">Alex core</p></td>
                                            <td class="e-list" style="text-align: left;">alexcor87@gmail.com</td>
                                            <td class="e-list"><a href="user_form"><button class="e-btn"><i class="fa fa-pencil" aria-hidden="true"></i> &nbsp;Edit</button></a><button class="d-btn"><i class="fa fa-times-circle" aria-hidden="true"></i> &nbsp;Delete</button></td>
                                        </tr>
                                    </table>
                                </div>
                            </center>
                            <!-- /.info-box-content -->
                        </div>
                        <!-- /.info-box -->
                    </div>
                    <div class="clearfix visible-sm-block"></div>
                </div>
            </section>
        </div>
    </div>
</div>
