@model Ukare.Service.Dashboard.DashboardModel
@{
    ViewBag.Title = "Admin";
    Layout = "~/Areas/AdminArea/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="content-wrapper" style="min-height: 750px;">
            <section class="content-header">
                <h3>Welcome !</h3>
            </section>

            <section class="content">
                <div class="row">
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="info-box">
                            <span class="info-box-icon bg-aqua"><i class="fa fa-eye" aria-hidden="true"></i></span>

                            <div class="info-box-content">
                                <h5 class="info-box-text">@Model.DailyVisitCount</h5>
                                <span class="info-box-number">Daily Visits</span>
                            </div>
                        </div>
                    </div>
                    <!-- /.col -->
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="info-box">
                            <span class="info-box-icon bg-red"><i class="fa fa-user" aria-hidden="true"></i></span>

                            <div class="info-box-content">
                                <h5 class="info-box-text">@Model.UserCount</h5>
                                <span class="info-box-number">Our Users</span>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix visible-sm-block"></div>

                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="info-box">
                            <span class="info-box-icon bg-green"><i class="fa fa-wifi" aria-hidden="true"></i></span>
                            <div class="info-box-content">
                                <h5 class="info-box-text">0</h5>
                                <span class="info-box-number">Conection</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="info-box">
                            <span class="info-box-icon bg-yellow"><i class="fa fa-heart-o" aria-hidden="true"></i></span>

                            <div class="info-box-content">
                                <h5 class="info-box-text">0</h5>
                                <span class="info-box-number">Likes</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="box box-primary">
                            <div class="box-header with-border">
                                <h3 class="box-title">Latest News</h3>
                            </div>
                            <div class="box-body">
                                <ul class="products-list product-list-in-box">

                                    @foreach (var item in Model.Messages.Take(5))
                                    {
                                    <li class="item">
                                        <div class="product-img">
                                            <img src="/Content/images/n1.png" alt="Product Image">
                                        </div>
                                        <div class="product-info">
                                            <a href="javascript:void(0)" class="product-title">@item.Title</a>
                                            <span class="product-description">
                                                <i class="fa fa-calendar" aria-hidden="true"></i>&nbsp; @item.CreatedDate.ToString("dd / MM / yyyy")
                                            </span>
                                        </div>
                                    </li>
                                    }
                                </ul>
                            </div>

                            @if (Model.Messages.Count() > 5)
                            {
                            <div class="box-footer text-center">
                                <a href="javascript:void(0)" class="uppercase">View All Products</a>
                            </div>
                            }
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="box box-primary">
                            <div class="box-header with-border">
                                <h3 class="box-title">Photos Gallery</h3>
                            </div>

                            <div class="box-body">
                                <div class="product-gallery">
                                    <img src="/Content/images/ph1.jpg" alt="Product Image">
                                    <img src="/Content/images/ph2.jpg" alt="Product Image">
                                </div>

                                <div class="product-gallery">
                                    <img src="/Content/images/ph3.jpg" alt="Product Image">
                                    <img src="/Content/images/ph4.jpg" alt="Product Image">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>