@model Ukare.Service.Message.MessageModel

    <div class="row">

        <div class="col-sm-3"><label for="example-text-input" class="col-form-label ulable"> Subject :</label></div>
        <div class="col-sm-9">
            @Model.Title
        </div>
    </div>
    <div class="row">
        <div class="col-md-3"><label for="example-text-input" class="col-form-label ulable">Description :</label></div>
        <div class="col-md-9">
            @Model.Description
        </div>
    </div>




